@use '../../../../../styles/abstracts' as *;
@use '../../../../../styles/base' as *;

.sidebar {
    @include box;
    width: 24rem;
    height: 100%;
}

.sidebar-mobile {
    @include box;
    position: fixed;
    height: 100%;
    left: 0;
    width: 20rem;
}

.sidebar-sections-list {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.sidebar-section-element {
    display: flex;
    flex-direction: row; 
    width: 100%;
    margin-top: 1rem;
    transition: all 0.2s linear;
    font-size: 1.1rem;
    cursor: pointer;
    &:hover {
        color: $green
    }
}