$black: #0F0F0F;
$lightGray: #121217;
$gray: #161619;
$white: #ffffff;
$green: #22d7a6;

$border: #202530;
$input: #181820;
$placeholder: #c0c5ce;
$background: #14171d;

$accent: $green;
$mute: $placeholder;

$colors: (
    'black': #0F0F0F,
    'lightGray': #121217,
    'gray': #161619,
    'white': #ffffff,
    'green': #22d7a6
);