@use '../../../../../styles/abstracts' as *;
@use '../../../../../styles/base' as *;

.preview {
    background-color: $gray;
    padding: 2rem 2rem;
    width: 100%;
}

.preview-document {
    background-color: $white;
    color: $black;
    height: 100%;
    padding: 1rem 1rem;
}
